<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>{{ 'itemDefinition' | translate }} {{ 'overview' | translate }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="search">
      <search-box (update)="changeSearchTerm($event)" [searchForTranslation]="'item'"></search-box>
      <md-checkbox [(ngModel)]="searchOptions.withDeleted" [color]="'primary'" (change)="changeItemSearch()">
        {{ 'showInactive' | translate }}
      </md-checkbox>
    </div>

    <item-definition-list [searchOptions]="searchOptions" (totalCount)="totalCount = $event"></item-definition-list>
  </div>
</div>

<item-definition-menu></item-definition-menu>

<div [hidden]="totalCount === undefined || totalCount < searchOptions.pageSize" class="text-center">
  <ngb-pagination [collectionSize]="totalCount" [pageSize]="searchOptions.pageSize" [(page)]="page" [maxSize]="5" (pageChange)="changeItemSearch()"></ngb-pagination>
</div>