<div *ngIf="state">
  <div class="row">
    <div class="col-md-12 col-lg-10 col-lg-offset-1">
      <h1 *ngIf="!isEditMode">{{ 'state' | translate }}{{ 'additional.add' | translate }}</h1>
      <h1 *ngIf="isEditMode">{{ 'state' | translate }}{{ 'additional.edit' | translate }}</h1>
      <form #f="ngForm" novalidate>
        <div class="form-group">
          <label for="name">{{ 'name' | translate }}</label>
          <input type="text" class="form-control" [(ngModel)]="state.name" name="name" id="name" placeholder="{{ 'name' | translate }}{{ 'additional.add' | translate }}" required>
        </div>
      </form>
    </div>
  </div>

  <state-add-menu (saveClicked)="save()" [isValid]="f.valid"></state-add-menu>
</div>