@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.main-content {
  margin-top: 25px;
}

h1 {
  font-size: 30px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  /*font-size: 2rem;*/
}

.add-button {
  margin: 5px 0 25px 0 !important;
}

.mat-accent {
  background-color: #4caf50;
}

.mat-raised-button {
  border-radius: 0 !important;
}

.breadcrumb {
  border-radius: 0 !important;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: 0;
  margin-left: 0;
}

small {
  color: #777;
}

.nav-logo {
  width: 150px !important;
}