<div class="row">
    <div class="table-responsive col-sm-12">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="m-0">
                    <th class="w-25">{{ 'car.one' | translate }}</th>     
                    <th class="w-25">{{ 'state.one' | translate }}</th>   
                    <th class="w-20">{{ 'planning.startDate' | translate }}</th>   
                    <th class="w-20">{{ 'planning.endDate' | translate }}</th>   
                    <th class="w-10 text-right">{{ 'actions' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr planning-list-item *ngFor="let planning of plannings" [planning]="planning"></tr>
                <tr *ngIf="plannings.length === 0">
                    <td colspan="5"><strong>{{'dialogs.noResult' | translate}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>