<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>{{ 'planning.one' | translate }} {{ 'pages.overview' | translate }}</h1>      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <a class="add-button" md-raised-button (click)="onAddButtonClicked()"><i class="fa fa-plus"></i>&nbsp;{{'dialogs.add' | translate}}</a>	
    
    <planning-add *ngIf="addElementComponentIsVisible"></planning-add>

      <planning-list (totalCount)="totalCount = $event"></planning-list>
</div>
</div>