<!--<div class="container-fluid uster-header container">
    <ng2-slim-loading-bar [color]="'#00549F'"></ng2-slim-loading-bar>
  <div class="row">
    <div class="col-md-9">
      <a ui-sref="dashboard" class="navbar-brand">
        <img class="zrhLogo img-responsive" src="assets/images/zrh_logo.png">
      </a>
    </div>
    <div class="col-md-3">
      <div class="row" >
        <div class="col-md-4">
          <select #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
        </div>
        <div class="col-md-8">
          <span>Luca Marti</span>
        </div>
      </div>
    </div>
  </div>
</div>-->