<div class="row">
    <div class="table-responsive col-md-12">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="m-0">
                    <th class="w-50">{{ 'car.one' | translate }}</th> 
                    <th class="w-50">{{ 'car.radio' | translate }}</th> 
                    <th class="w-10">{{ 'actions' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr car-list-item *ngFor="let car of cars" [car]="car"></tr>
                <tr *ngIf="cars.length === 0">
                    <td colspan="3"><strong>{{'dialogs.noResult' | translate}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>